@page "/orders"
@attribute [Authorize(Roles = BlazorShared.Authorization.Constants.Roles.ADMINISTRATORS)]
@inherits BlazorAdmin.Helpers.BlazorComponent
@namespace BlazorAdmin.Pages.Orders

<h1>All Orders</h1>

@if (_orders == null)
{
    <Spinner></Spinner>
}
else
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Buyer</th>
                <th>Total Amount</th>
                <th>Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody class="cursor-pointer">
            @foreach (var item in _orders)
            {
                <tr @onclick="@(() => DetailsClick(item.Id))">
                    <td>@item.BuyerId</td>
                    <td>@item.TotalAmount</td>
                    <td>@item.OrderDate</td>
                    <td>@item.Status</td>   
                </tr>
            }
        </tbody>
    </table>

    <Details @ref="DetailsComponent"></Details>
}
